apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-demo-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: spring-k8-demo
  template:
    metadata:
      labels:
        app: spring-k8-demo
    spec:
      containers:
        - name: spring-demo-k8-container
          # These placeholders will be replaced by Jenkins during the pipeline
          image: spring-k8-demo:latest
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 30 # Increased to give Spring Boot time to start
            periodSeconds: 10