apiVersion: v1
kind: Service
metadata:
  name: java-band-service
spec:
  type: LoadBalancer # Exposes the orchestra to the outside world
  selector:
    app: java-band # Finds all Pods labeled "java-band"
  ports:
    - protocol: TCP
      port: 80        # The public port
      targetPort: 8080 # The internal port where Java is listening