apiVersion: v1
kind: Service
metadata:
  name: java-band-service
spec:
  type: LoadBalancer # Exposes the orchestra to the outside world
  selector:
    app: spring-k8-demo # Finds all Pods labeled "spring-demo-k8"
  ports:
    - protocol: TCP
      port: 80        # The port exposed by the Service
      targetPort: 8080 # The internal port where Java is listening